<!DOCTYPE html>
<html>

<head>
    <title>Redirecting...</title>
</head>

<body>
<h3 style="text-align:center;margin-top:20px;">Redirecting to eSewa. Please wait...</h3>
<form id="esewaForm" action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
    <input type="hidden" name="tax_amount" value="0.00"/>
    <input type="hidden" name="amount" value="6.50"/>
    <input type="hidden" name="total_amount" value="6.50"/>
    <input type="hidden" name="signature" value="0rCPpTuYd/ZOlRlKZSswM/goCzv0hujBSEadebGWmhA="/>
    <input type="hidden" name="product_service_charge" value="0"/>
    <input type="hidden" name="product_delivery_charge" value="0"/>
    <input type="hidden" name="transaction_uuid" value="2025-07-14-203613"/>
    <input type="hidden" name="failure_url" value="https://developer.esewa.com.np/failure"/>
    <input type="hidden" name="product_code" value="EPAYTEST"/>
    <input type="hidden" name="signed_field_names" value="total_amount,transaction_uuid,product_code"/>
    <input type="hidden" name="success_url" value="https://developer.esewa.com.np/success"/>
</form>
<script>
    document.getElementById('esewaForm').submit();
</script>
</body>
</html>