<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikalp.roomrentalservice.mapper.PropertyMapper">

    <resultMap id="AmenitiesEnumMap" type="com.bikalp.roomrentalservice.enums.Amenities">
        <result column="amenity_amenities" property=""/>
    </resultMap>

    <resultMap id="ImageDtoMap" type="com.bikalp.roomrentalservice.dto.response.ImageDto">
        <id column="imageId" property="id"/>
        <result column="image_url" property="url"/>
    </resultMap>

    <resultMap id="PropertyResponseMap" type="com.bikalp.roomrentalservice.dto.response.PropertyResponse" autoMapping="true">
        <id column="id" property="id"/>

        <collection property="amenities" ofType="com.bikalp.roomrentalservice.enums.Amenities" resultMap="AmenitiesEnumMap"/>

        <collection property="images" ofType="com.bikalp.roomrentalservice.dto.response.ImageDto" resultMap="ImageDtoMap"/>
    </resultMap>

    <select id="getPropertyById" resultMap="PropertyResponseMap">
        select p.id            as id,
               p.is_active     as is_active,
               p.address       as address,
               p.description   as description,
               p.is_available  as is_available,
               p.property_type as property_type,
               p.rent_price    as rent_price,
               p.room_count    as room_count,
               p.title         as roomTitle,
               u.full_name     as ownerName,
               p.owner_id      as ownerId,
               pa.amenity      as amenity_amenities,
               pi.id           as imageId,
               pi.image_url    as image_url
        from property p
                 left join property_amenities pa on p.id = pa.property_id
                 left join users u on p.owner_id = u.id
                 left join property_image pi on p.id = pi.property_id
        where p.id = #{propertyId};
    </select>

    <select id="getAllProperties" resultMap="PropertyResponseMap">
        select p.id            as id,
               p.is_active     as is_active,
               p.address       as address,
               p.description   as description,
               p.is_available  as is_available,
               p.property_type as property_type,
               p.rent_price    as rent_price,
               p.room_count    as room_count,
               p.title         as roomTitle,
               u.full_name     as ownerName,
               p.owner_id      as ownerId,
               pa.amenity      as amenity_amenities,
               pi.id           as imageId,
               pi.image_url    as image_url
        from property p
                 left join property_amenities pa on p.id = pa.property_id
                 left join users u on p.owner_id = u.id
                 left join property_image pi on p.id = pi.property_id
        where p.is_available
    </select>

    <select id="getAllPropertiesByOwnerId" resultMap="PropertyResponseMap">
        select p.id            as id,
               p.is_active     as is_active,
               p.address       as address,
               p.description   as description,
               p.is_available  as is_available,
               p.property_type as property_type,
               p.rent_price    as rent_price,
               p.room_count    as room_count,
               p.title         as roomTitle,
               u.full_name     as ownerName,
               p.owner_id      as ownerId,
               pa.amenity      as amenity_amenities,
               pi.id           as imageId,
               pi.image_url    as image_url,
               b.status        as status
        from property p
                 left join property_amenities pa on p.id = pa.property_id
                 left join users u on p.owner_id = u.id
                 left join property_image pi on p.id = pi.property_id
                 left join booking b on b.property_id = p.id
        where p.owner_id = #{ownerId};
    </select>
    <select id="searchProperty" resultMap="PropertyResponseMap">
        select p.id            as id,
               p.is_active     as is_active,
               p.address       as address,
               p.description   as description,
               p.is_available  as is_available,
               p.property_type as property_type,
               p.rent_price    as rent_price,
               p.room_count    as room_count,
               p.title         as roomTitle,
               u.full_name     as ownerName,
               p.owner_id      as ownerId,
               pa.amenity      as amenity_amenities,
               pi.id           as imageId,
               pi.image_url    as image_url
        from property p
                 left join property_amenities pa on p.id = pa.property_id
                 left join users u on p.owner_id = u.id
                 left join property_image pi on p.id = pi.property_id
        <where>
            p.is_available = true
            <if test="propertyType != null">
                AND p.property_type = #{propertyType}
            </if>
            <if test="address != null and address != ''">
                AND p.address ILIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="priceRange > 0">
                AND p.rent_price &lt;= #{priceRange}
            </if>
        </where>
    </select>
</mapper>